@import '../../device.scss';
$border-width: .5rem;
$corner-size: 3rem;
.contact-content {
	text-align: center;
	padding-top: 200px;
	.title-bg{
		h1 {
			font-size: 110px;
			font-weight: 800;
		}
		position: absolute;
		left: 0;
		letter-spacing: 10px;
		line-height: 0.7;
		position: absolute;
		right: 0;
		top: 50%;
	}
	.title {
		position: relative;
		top: -75px;
		h2 {
			font-size: 56px;
			font-weight: 900;
			color: #fff;
			span {
				color: #ffb400;
			}
		}
	}
	@include tablet {
		.title {
			h2 {
				font-size: 46px;
			}
		}
		.title-bg{
			h1 {
				font-size: 90px;
			}
		}
	}

	@include mobileL {
		.title{
			h2 {
				font-size: 36px;
			}
		}
		.title-bg{
			h1 {
				font-size: 70px;
			}
		}
	}
}
.contact-disc {

	h2 {
		font-size: 26px;
		font-weight: 500;
		color: #fff;
	}
	.coustom-contact {
		padding-left: 50px;
		line-height: 21px;
		padding-top: 10px;
	}
	p {
		font-size: 15px;
		color: #fff;
		line-height: 26px;
		.fa-phone-square {
			font-size: 39px;
		}
		i {
			color: #ffb400;
			font-size: 33px;
			position: absolute;
			left: 15px;
		}
		span {
			text-transform: uppercase;
			opacity: .8;
			font-weight: 400;
			display: block;
		}
	}
	.social-list {
		list-style: none;
		padding: 0px;
		margin: 20px 0px;
		.social-icons {
			list-style: none;
			display: inline-block;
			margin: 10px 0px;

			a {
				height: 40px;
				display: inline-block;
				width: 40px;
				line-height: 42px;
				text-align: center;
				color: #fff;
				transition: .3s;
				font-size: 17px;
				margin-right: 13px;
				background: #2b2a2a;
				border-radius: 50%;
				&:hover {
					background: #ffb400;
				}
			}
		}
	}
}
.form-wrap {

	.form-section {

		input {
			border: 1px solid #111;
			width: 100%;
			background: #252525;
			color: #fff;
			padding: 11px 26px;
			margin-bottom: 30px;
			border-radius: 30px;
			outline: none !important;
		}

	}
	textarea {
		border: 1px solid #111;
		background: #252525;
		color: #fff;
		width: 100%;
		padding: 12px 26px;
		margin-bottom: 20px;
		height: 160px;
		overflow: hidden;
		border-radius: 30px;
		outline: none !important;
	}
	.btn-wrap {
		display: block;
		button.btn {
			font-family: 'Lato', sans-serif;
			letter-spacing: .02rem;
			cursor: pointer;
			background: transparent;
			border: .1rem solid currentColor;
			padding: 1.1rem 1rem;
			color: #ffb400;
			position: relative;
			transition: color .3s;
			font-size: 15px;
			&:hover {
				color: #ffb400;
				&::before { width: 0; }
				&::after { height: 0; }
			}
			&:active {
				border-width: .5rem / 2;
			}
			span {
				position: relative;
				z-index: 2;
				color: #fff;
			}
			  &::before, &::after {
				content: '';
				position: absolute;
				background: #111;
				z-index: 1;
				transition: all .3s;
			  }
			  &::before {
				width: calc(100% - #{$corner-size});
				height: calc(101% + #{$border-width * 2});
				top: -$border-width;
				left: 50%;
				transform: translateX(-50%);
			  }
			  &::after {
				height: calc(100% - #{$corner-size});
				width: calc(101% + #{$border-width * 2});
				left: -$border-width;
				top: 50%;
				transform: translateY(-50%);
			  }
		}
	}

}