<div class="main-wraper">
	<div class="navigation">
		<ul>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/home" routerLinkActive="active">Home <i class="fa fa-home"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/about" routerLinkActive="active">About<i
						class="fa fa-user"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/portfolio" routerLinkActive="active">Portfolio<i class="fa fa-briefcase"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/contact" routerLinkActive="active">Contact<i class="fa fa-envelope-open"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/service" routerLinkActive="active">Service<i class="fa fa-cog"></i></a>
			</li>
		</ul>
	</div>
</div>