<div class="main-wraper">
	<div class="navigation">
		<ul>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/about" routerLinkActive="active"><i
						class="fa fa-user"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/portfolio" routerLinkActive="active"><i class="fa fa-briefcase"></i></a>
			</li>
			<li class="icon-box">
				<a href="" class="nav-links" routerLink="/contact" routerLinkActive="active"><i class="fa fa-envelope-open"></i></a>
			</li>
			<li class="icon-box">
				<a href=""><i class="fa fa-comments"></i></a>
			</li>
		</ul>
	</div>
</div>