@import '../../device';

.portfolio-content {
	text-align: center;
	padding-top: 200px;
	.title-bg{
		h1 {
			font-size: 110px;
			font-weight: 800;
		}
		position: absolute;
		left: 0;
		letter-spacing: 10px;
		line-height: 0.7;
		position: absolute;
		right: 0;
		top: 50%;
	}
	.title {
		position: relative;
		top: -75px;
		
		h2 {
			
			font-size: 56px;
			font-weight: 900;
			color: #fff;
			span {
				color: #ffb400;
			}
		}
	}
	@include tablet {
		
		.title {
			h2 {
				font-size: 46px;
			}
		}
		.title-bg{
			h1 {
				font-size: 90px;
			}
		}
	}

	@include mobileL {
		.title{
			h2 {
				font-size: 36px;
			}
		}
		.title-bg{
			h1 {
				font-size: 70px;
			}
		}
	}
}
.grid-wrap {
	
	.boxes-wrap {

		ul {
			margin: 0px;
			padding: 0px;
			li {
				list-style:  none;
				left: 0px;
				top: 0px;
				cursor: pointer;
				&:hover .hover-heading {
					width: 100%;
					left: 0;
				  }
				figure {
					position: relative;
					overflow: hidden;
					border-radius: 8px;
					&::before {
						position: absolute;
						top: 0;
						left: -75%;
						z-index: 2;
						display: block;
						content: '';
						width: 50%;
						height: 100%;
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
						-webkit-transform: skewX(-25deg);
						transform: skewX(-25deg);
					}
					&:hover::before{
						-webkit-animation: shine .75s;
						animation: shine .75s;
					}
					img {
						display: block;
						width: 100%;
					}
					.hover-heading {

						span {
							color: white;
							font-size: 20px;

						}
					}
				}
				@-webkit-keyframes shine {
					100% {
						left: 125%;
					}
				}
				@keyframes shine {
					100% {
						left: 125%;
					}
				}
			}
			}
		}
	}
