$primary-color : #ffffff;
$secondary-color: #ffb400;
$spanprimary-color: #b0b0b0;
$primary-background: #ffb400;
$large-font-size: 54px;
$extra-large-font-size: 110px;
$sctions-heading-font-size: 26px;
$paragraphs-font-size: 16px;
$small-heading-font-size: 18px;
$small-para-font-size: 12px;