/* You can add global styles to this file, and also import other style files */
@import 'device';
html, body { height: 100%; background: #111;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul, li {
    margin: 0px;
    padding: 0px;
}
button {
    outline: none !important;
}
@include tabletL {
    .container{
        padding-left: 90px !important;
    }

}
// @include maxScreen(1070) {
//     .container{
//         padding-left: 90px !important;
//     }

// }