/* You can add global styles to this file, and also import other style files */
@import 'device';
html, body { height: 100%; background: #111;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul, li {
    margin: 0px;
    padding: 0px;
}
button {
    outline: none !important;
}
@include tabletL {
    .container{
        padding-left: 90px !important;
    }

}
// @include maxScreen(1070) {
//     .container{
//         padding-left: 90px !important;
//     }

// }
.white-background {
    position: relative;
    background-color: #f1f1f1 !important;
    opacity: 1;
    z-index: 2;
    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        content: '';
        opacity: 0.3;
        z-index: 0;
        background-color: #3333333d;
        // background-image: url('./assets/about-us-banner.png');
        // background-position: bottom;
        // background-size: auto;
        // background-repeat: no-repeat;
    }
}