@import '../../device.scss';
// .whiteBg {
// 	background-color: #fff !important;
// }
.main {
	background: #ffc400;
	min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.background-img {
	position: absolute;
    left: 51%;
    width: 49%;
	img {
		width: 100%;
		margin: auto;
		top: 0;
		bottom: 0;

	}
}
@include tablet {
	.background-img {
		display: none;
	}
}
.sliderHome{
	img {
		width: 100%;
	}
}

.content {
	padding-top: 160px;
	position: relative;
	// background-image: url('../../assets/home-banner.png');
	h1{
		font-size: 45px;
		line-height: 45px;
		font-weight: 700;
		color: white;
		span {
			color: #252525;
		}
	}
	h2{
		font-size: 24px;
		color: white;
	}
	p{
		font-size: 18px;
		line-height: 32px;
		color: #252525;
		font-weight: 200;
	}
	button {
		background: #252525;
		width: 200px;
		height: 45px;
		border-radius: 22px;
		border: 0px;
		color: white;
		font-size: 16px;
		margin-top: 20px;

		.content-btn{
			background: #ffb400;
			width: 70px;
			height: 30px;
			border-radius: 16px;
		}
	}
}
@include tablet {

}
.logoHeader{
	background: #252525;
    display: inline-block;
    font-size: 40px;
    padding: 20px 29px;
    text-align: center;
	margin-bottom: 10px;
	color: #ffff;
	font-weight: 100;
}

.white-background {
	.content {
		padding-top: 40px;
		h1{
			color: #252525;
			span {
				color: #ffb400;
			}
		}
		h2{
			color: #252525;
		}
		p{
			color: #252525;
		}
		button {
			background: #ffb400;
			color: #252525;
			.content-btn{
				background: #ffb400;
			}
		}
	}
}